body {
	font-size: 100%;
}
header {
	background: white;
	border-bottom: 2px solid rgb(222, 184, 135);
}
header h1 {
	font-size: 2em;
}
header nav {
	font-weight: bold;
}
main {
	background: white;	
}
footer {
	background: rgb(222, 184, 135);
}
footer .container .contact {
	float: left;
	width: 500px;
}
footer .container .sitemap {
	float: right;
	width: 355px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
h1, h2, h3, h4, h5 {
	font-size: 1.2em;
}
p, nav, ul  {
	font-size: 1.2em;
}
header .container {
	padding: 30px;
}
a  {
	color: rgb(151, 137, 120);
	text-decoration: none;

}
a:hover {
	text-decoration: underline;
	
}
main {
	min-height: 450px;

}
main .container{
	padding-top: 13px;

}
main .content {
	padding-top: 10px;
}

.tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 150px;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	font-weight: bold;
	background: #ddd;
	padding: 5px;
}
.tabs a span.active{
	background: #eee;
}
.content ul {
	list-style-type: circle;
	padding-left: 15px;
	padding-right: 15px;
}
.content input {
	width: 240px;
	height: 30px;
	margin-top:10px;

}
.content button {
	width: 35px;
	height: 35px;
	margin-left: 3px;

	border-radius: 5px;
	background: red;
	font-weight: bold;
	font-size: 125%;
	color: white;
}
.content label {
	margin-top: 15px;
}
.content h:first-of-type {
	margin-right: 48px;
}
.content h:last-of-type {
	margin-right: 7px;
}
#delete {
	width: 190px;
	margin-top: 40px;
}

footer .container .sitemap .leftpart{
	float: left;
	
}
footer .container .sitemap .rightpart{
	float: right;
	margin-right: 40px;
}
footer ul li {
	font-weight: bold;
	font-size: 0.9em;
	padding: 1px;
}
.sitemap h5 {
	margin-bottom: 0;
}
.line {
	border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 5px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}